<<<<<<< HEAD
<<<<<<< Updated upstream
=======
=======
>>>>>>> c53cb7a13394a8a1ce96f8f57bf89230e5a7663b
h1{
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;
    
}
<<<<<<< HEAD
body{
    color:black;
    
}

head{
    color:aquamarine;
    fill:aquamarine;
    fill-opacity: calc(30%);
}
>>>>>>> Stashed changes
=======
head{
    color:skyblue
    
}
>>>>>>> c53cb7a13394a8a1ce96f8f57bf89230e5a7663b
