h1{
    color:red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;
    
}
head{
    color:skyblue
    
}
body{
    color:black;
    font-size: 16pt;
    font-weight: bold;

}